body{
    font-family: 'Source Sans Pro', sans-serif;
    background: #f1c40f;
    min-height: 100vh;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
}

.calculator-container{
    width: 400px;
    /* background: rgba(245, 245, 245, 0.644); */
    min-height: 700px;
    /*centering*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
}


.display-section{
    background: #ffa600ee;
    height: 130px; 
}

.button-container, .display-section{
    width: 90%;
    margin: 0 auto;
}

.button-container{
    flex-wrap: wrap;
}

.display-section{
    font-size: 26px;
}

.input{
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    width:24.5%;
    background: rgba(41, 41, 41, 0.448);
    cursor: pointer;
    margin: 0.8px;
    transition: opacity 400ms;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    -ms-transition: opacity 400ms;
    -o-transition: opacity 400ms;
}

.input:hover{
    opacity: 0.7;
}

/* SPECIFIC BUTTON */
.button-reset, .buton-turnOff, .button-history{
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.59);
}
.button-reset{
    background: rgba(255, 0, 13, 0.384);
}
.buton-turnOff{
    background: rgba(255, 0, 0, 0.685);
}
.button-history{
    background:rgba(2, 243, 94, 0.344)
}
.equal-sign{
    width: 49.4%;
}