body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #868686;
    min-height: 100vh;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.calculator-container {
    border-radius: 20px;
    width: 400px;
    padding: 20px 0;
    background: rgb(207, 207, 207);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.315);
    border: 3px solid rgba(0, 0, 0, 0.562);
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.display-section {
    height: 130px;
    font-size: 50px;
    color: rgb(19, 19, 19);
    overflow: hidden;
}

.button-container,
.display-section {
    width: 90%;
    margin: 0 auto;
}

.button-container {
    flex-wrap: wrap;
}

.input {
    height: 80px;
    color: rgb(87, 87, 87);
    line-height: 80px;
    font-size: 25px;
    width: 24.5%;
    cursor: pointer;
    margin: 0.8px;
    transition: opacity 400ms;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.input{
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -ms-transition: border 0.5s;
    -o-transition: border 0.5s;
}

.button-container {
    margin-top: 20px;
}

/* SPECIFIC BUTTON */
.button-reset,
.buton-turnOff,
.button-history {
    font-size: 20px;
    font-weight: 600;
}

.button-reset {
    background: #64d8d225;
}

.buton-turnOff {
    background: #85ff3311;
    color: #f39c12;
}

.button-history {
    background: #2ecc701e;
    color: #2ecc71;
}

.equal-sign {
    background: #146152;
    color: white;
}

.bottom-row {
    width: 49.4%;
    border:1px solid rgba(0, 0, 0, 0);
}
.dot-button{
    border: 1px solid rgba(0, 0, 0, 0.26);
}

.op-btn, .number-input:not(.dot-button){
    border:1px solid rgba(0, 0, 0, 0);
}
.op-btn:hover, .number-input:not(.dot-button):hover{
    border:1px solid rgba(0, 0, 0, 0.212);
}

/* HISTORY SECTION */
.history-section {
    height: 400px;
    overflow-y: scroll;
    background: whitesmoke;
    width: 500px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.363);
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.history-no-display {
    display: none;
}

.history-flex-heading {
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width: 400px){
    .calculator-container{
        width: 100%;
    }
}